<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="background">
    <header>
      <% include ./partials/header %>
    </header>
    <h1><%= title %></h1>
    <p class="welcome">Sign up to see who you play next!</p>
  </body>
</html>
