@import 'materialize.min.css';


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-wrapper {
  background-color: rgb(160, 232, 53);
}

.welcome {
  font-size: 30px;
}

.background {
  background-image: url('../images/tennis2.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 95%;
}